@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.container{
    margin: 0 auto;
    min-width: 992px !important;
    width: 100%;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

@media  screen and (max-width: 1920px) {
    .container {
        max-width: 1440px;
      }
    }

header{
    height: 580px;
}

body{
    min-width: 992px !important;
}

nav{
    height: 98px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}

nav ul{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
    margin-left: 65px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.active-button{
    border: none;
    color: white;
    background-color: #25A4AD;
    border-radius: 14px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: inset 0 0 0 0 #DBD9D9;
    transition: ease-in-out 0.5s;
}

.active-button:hover{
    box-shadow: inset 300px 0 0 0 #DBD9D9;
    cursor: pointer;
    color: rgb(10, 10, 10);
}

.normal-button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 14px;
    box-shadow: inset 0 0 0 0 #DBD9D9;
    transition: ease-in-out 0.5s;
}

.normal-button:hover{
    box-shadow: inset 300px 0 0 0 #DBD9D9;
    cursor: pointer;
    color: rgb(10, 10, 10);
}

.nav-btn1{
    width: 152px;
    height: 58px;
    box-sizing: border-box;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-left: auto;
    box-shadow: inset 0 0 0 0 #DBD9D9;
    transition: ease-in-out 0.5s;
}

.nav-btn1:hover{
    box-shadow: inset 0 0 0 300px #DBD9D9;
    cursor: pointer;
}

.nav-btn2{
    right: 65px;
    width: 152px;
    height: 58px;
    border: 1px solid #25A4AD;
    box-sizing: border-box;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 65px;
    box-shadow: inset 0 0 0 0 #25A4AD;
    transition: ease-in-out 0.5s;
}

.nav-btn2:hover{
    box-shadow: inset 0 0 0 300px #25A4AD;
    cursor: pointer;
}

.nav-btn2:hover a{
    color: white;
}

.nav-btn2 a{
    color: #25A4AD;
    text-decoration: none;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: inline-block;
}

.nav-btn1 a{
    color: black;
    text-decoration: none;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: inline-block;
}

.logo{
    text-align: center;
    margin-left: 45px;
}

.logo h1{
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #25A4AD;
}

.header-bottom{
    background: url('../img/smart_farm.svg') no-repeat;
    background-position: center;
    height: 31rem;
}

.headerInfo{
    padding-top: 5rem;
    margin-left: auto;
    margin-right: 60px;
    width: 486px;
}

.header-title1{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    text-align: right;
    color: #313131;
}

.header-title2{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 6rem;

    text-align: right;

    color: #255BAD;
}

.header-btn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.get-started{
    background-color: #25A4AD;
    color: white;
    text-decoration: none;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
    border-radius: 14px;
    font-size: 18px;
    margin-right: 30px;
    box-shadow: inset 0 0 0 0 #DBD9D9;
    transition: ease-in-out 0.5s;
}

.get-started:hover{
    box-shadow: inset 0 0 0 100px #DBD9D9;
    transition: ease-in-out 0.5s;
    color: black;
}

.explore{
    color: #25A4AD;
    background-color: white;
    padding: 1rem 2.5rem;
    border: 2px solid #25A4AD;
    box-sizing: border-box;
    border-radius: 14px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: inset 0 0 0 0 #DBD9D9;
    transition: ease-in-out 0.5s;
}

.explore:hover{
    box-shadow: inset 0 0 0 100px #DBD9D9;
    transition: ease-in-out 0.5s;
    color: black;
    border: 2px solid black;
}

.group-partner{
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding-left: 3rem;
    padding-right: 3rem;
}

.logo-partner{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
}

.ex-col{
    display: flex;
    flex-direction: column;
}

.ex-sensor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 100%;
    margin-top: 3rem;
}

.ex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.block-temp{
    position: relative;
}

.txt-temp{
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50% , -50%);
    position: absolute;
    text-align: center;
    color: white;
}

.img-temp{
    width: 20rem;
    height: 20rem;
    filter: brightness(50%);
}

.img-star{
    top: 65%;
    left: 50%;
    width: 8rem;
    transform: translate(-50% , -50%);
    position: absolute;
    text-align: center;
}

.block-light{
    position: relative;
}

.img-light{
    width: 20rem;
    height: 20rem;
    filter: brightness(50%);
}

.txt-light{
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50% , -50%);
    position: absolute;
    text-align: center;
    color: white;
}

.block-water{
    position: relative;
}

.txt-water{
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50% , -50%);
    position: absolute;
    text-align: center;
    color: white;
}

.img-water{
    width: 20rem;
    height: 20rem;
    filter: brightness(50%);
}

.block-co2{
    position: relative;
}

.txt-co2{
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    color: white;
}

.img-co2{
    width: 20rem;
    height: 20rem;
    filter: brightness(50%);
}

.right-col{
    display: flex;
    flex-direction: column;
}

.color-bk{
    color: #313131;
}

.color-bl{
    color: #25A4AD;
}

.ex-def{
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 147.9%;
    color: #313131;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.new-software{
    display: flex;
    flex-direction: column;
}

.software-detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.img-iot{
    width: 40rem;
    height: auto;
}

.software-right{
    display: flex;
    flex-direction: column;
    background-color: #DBD9D9;
    justify-content: center;
    height: 22rem;
    width: 30rem;
    margin-left: 2rem;
    border-radius: 0px 0px 3rem 0px;
    padding: 1rem;
}

.software-right-topic{
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 147.9%;
}

.software-right-detail{
    margin-top: 2rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 147.9%;
}

.smart-in-detail{
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 147.9%;
}

.footer-top{
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-topic{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.footer-topic a{
    text-decoration: none;
    color: white;
}

.footer-detail{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-detail a{
    text-decoration: none;
    color: white;
}

.col{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}

.row{
    display: flex;
    flex-direction: row;
}

.footer-bottom{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: white;
}

.logo-footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4rem;
    margin-left: 3rem;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: white;
}

.web-topic{
    display: flex;
    justify-content: left;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
}

.column{
    display: flex;
    flex-direction: column;
}

.team-show{
    border-top: 2px solid #25A4AD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    border-bottom: 0.5rem solid #a0d6da;
}

.img-user{
    width: 17rem;
    height: auto;
}

.team-name{
    margin-top: 0.5rem;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    color: #007B84;
}

.team-detail{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    color: black;
}

.number-slide{
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    margin-left: 5rem;
    padding: 0.5rem;
    
}

.block-arrow-left{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    border-radius: 2rem;
    position: relative;
    box-shadow: inset 0 0 0 0 #DBD9D9;
    transition: ease-in-out 0.5s;
}

.block-arrow-left:hover{
    box-shadow: inset -100px 0 0 0 #DBD9D9;
    cursor: pointer;
}

.img-arrow-left{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


.block-arrow-right{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    border-radius: 2rem;
    position: relative;
    box-shadow: inset 0 0 0 0 #DBD9D9;
    transition: ease-in-out 0.5s;
}

.block-arrow-right:hover{
    box-shadow: inset 100px 0 0 0 #DBD9D9;
    cursor: pointer;
}

.img-arrow-right{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.img-project{
    margin-left: 2rem;
    width: auto;
    height: 20rem;
    border: 1px solid red;
}

.project-show{
    background-color: #ececec;
    display: flex;
    height: 20rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    margin-right: 2rem;
}

.project-name{
    margin-top: 1.5rem;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    color: #007B84;
}

.project-detail{
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    color: black;
}

.btn-viewmore{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    width: 8rem;
    height: 3rem;
    color: black;
    border-radius: 1rem;
    border: 1.5px solid black;
    background-color: #a9ffecdc;
    box-shadow: inset 0 0 0 0 #DBD9D9;
    transition: ease-in-out 0.5s;
}

.btn-viewmore:hover{
    box-shadow: inset 0 0 0 200px #DBD9D9;
    cursor: pointer;
}

.contact-show{
    display: flex;
    height: 20rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    margin-left: 3rem;
}

.company-name{
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
}

.address{
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
}

.btn-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    width: 8rem;
    height: 3rem;
    color: white;
    border-radius: 1rem;
    border: 1.5px solid black;
    background-color: #000000;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-in-out 0.5s;
}

.btn-contact:hover{
    box-shadow: inset 0 0 0 200px #ffffff;
    cursor: pointer;
    color: black;
}

.img-map{
    width: 45rem;
    height: auto;
    margin-right: 3rem;
    padding: 2rem;
}